html {
    scroll-behavior: smooth;
}

nav{
    z-index: 5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}




section {
    padding: 100px;
    height: 100vh;
    text-align: center;
}

#home{
    background: radial-gradient(#704343 0%, #ffffff 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



a{
    text-decoration: none;
    color: #333;
    font-family: Blippo, fantasy;
    font-size: 35px;
}

ul {
    height: 50px;
    margin-top: 10px;
}

li {
    display: inline-block;
    margin-top: 2px;
}

#first {
    margin-left: 380px;
    position: sticky;
} 

#second {
    margin-left: 200px;
}

#third {
    margin-left: 200px;
}

#fourth{
    margin-left: 200px;

}

.sticky {
    background-color:whitesmoke; /* Полупрозрачный белый */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
}

*::-webkit-scrollbar {
    height: 12px;
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: rgba(255, 166, 0, 0);
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(178, 178, 189);
    border-radius: 5px;
    border: 3px solid rgba(243, 243, 243, 0);
}


label{
    color: #1e2536;
    font-family: Arial Black;
    font-size: 20px;
}


/* Общий контейнер для всех продуктов */
#products-container {
    display: flex;
    justify-content: space-around; /* Равномерно распределяем блоки */
    align-items: flex-start; /* Выровняем по верху */
    margin-top: 20px;
}

/* Стили для каждого блока продукта */
#main-one, #main-two, #main-three {
    width: 150px;
    height: 250px;
    display: flex;
    flex-direction: column; /* Вертикальная организация элементов внутри блока */
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#main-one{
    margin-right: 10px;
}

/* Стили для изображений продуктов */
.img-small {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

/* Стили для текста под продуктами */
.product-label {
    color: #1e2536;
    font-family: Arial Black;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}



ul{
    display: block;
}


.danfo {
  font-family: "Danfo", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "ELSH" 0;
}
  
.slackey-regular {
    font-family: "Slackey", serif;
    font-weight: 400;
    font-style: normal;
}

.ruslan-display-regular {
    font-family: "Ruslan Display", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  