html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.menu {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.menu ul li {
    margin: 0 15px;
}

.menu ul li a {
    text-decoration: none;
    color: none;
    padding: 15px 20px;
    display: block;
}

.menu ul li a:hover {
    background-color: #575757;
}

section {
    padding: 100px;
    height: 100vh;
    text-align: center;
}

#home {
    background: linear-gradient(0deg, #0a1f47 0%, #f0f0f0 100%);
}

#reviews {
    background: linear-gradient(0deg, #77b7f3 0%, #0a1f47 100%);
}

#product {
    background-color: #d0d0d0;
}

a{
    text-decoration: none;
    color: #333;
    font-family: Blippo, fantasy;
    font-size: 35px;
}

ul {
    height: 50px;
}

li {
    display: inline-block;
    margin-top: 2px;
}

#first {
    margin-left: 380px;
    position: sticky;
} 

#second {
    margin-left: 200px;
}

#third {
    margin-left: 200px;
}

#fourth{
    margin-left: 200px;

}

.sticky {
    background-color: rgba(255, 255, 255, 0.3); /* Полупрозрачный белый */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    opacity: 0.9; /* Прозрачность */
}

*::-webkit-scrollbar {
    height: 12px;
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: rgba(255, 166, 0, 0);
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(178, 178, 189);
    border-radius: 5px;
    border: 3px solid rgba(243, 243, 243, 0);
}

#productone{
    width: 150px;
    height:150px;
    margin-top: 50px;
    margin-left: 50px;
    overflow: hidden;
    border-radius: 5px;
}

#producttwo{
    width: 150px;
    height:150px;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
}

#productthree{
    width: 150px;
    height:150px;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
}

#l-one{
    margin-right: 1450px;
    display: inline-block;
}
#l-two,
#l-two1 {
    display: block; /* Делаем их блочными, чтобы они располагались один под другим */


}
.img-small{
    width: 100%;
    height: 100%; 
    object-fit: cover; 
}
label{
    color: #1e2536;
    font-family: Arial Black;
    font-size: 20px;
}

#main-two{
    width: 150px;
    position: absolute;
    bottom: 520px;
    left: 400px;
}

#main-three{
    width: 150px;
    position: absolute;
    bottom: 520px;
    left: 650px;
}